<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <!--定义类型别名-->
    <aliases>
      <add alias="IOrderRepository" type="Vilin.Data.Repository.IOrderRepository,Vilin.Data.Repository" />
      <add alias="IOrderServer" type="Vilin.Core.Server.IOrderServer,Vilin.Core.Server" />
    </aliases>
    <!--容器-->
    <container name="VilinContainer">
      <!--映射关系-->
      <register type="IOrderRepository"  mapTo="OrderRepository"></register>
      <register type="IOrderServer"  mapTo="OrderServer"></register>
    </container>
  </unity>
</configuration>