<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere"/>
    <sectionGroup name="ncContentOptimization">
      <!--NCache Register config section first. -->
      <!--<section name="settings" type="Alachisoft.NCache.ContentOptimization.Configurations.ContentSettings" allowLocation="true" allowDefinition="Everywhere"/>-->
    </sectionGroup>
  </configSections>

  <dataCacheClient>
    <hosts>
      <host name="Win2012B" cachePort="22233"/>
      <host name="WIN-UNH4UQLS47D" cachePort="22233"/>
    </hosts>
    <securityProperties mode="None" protectionLevel="None"/>
  </dataCacheClient>
  <!--<ncContentOptimization>
    <settings enableViewstateCaching="true" enableTrace="false">
      <cacheSettings cacheName="myReplicatedCache" connectionRetryInterval="300">
        <expiration type="Absolute" duration="1" />
      </cacheSettings>
    </settings>
  </ncContentOptimization>-->
  
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <sessionState mode="Custom" customProvider="AppFabricCacheSessionStoreProvider">
      <providers>
        <add name="AppFabricCacheSessionStoreProvider" type="Microsoft.ApplicationServer.Caching.DataCacheSessionStoreProvider" cacheName="default" sharedId="SharedApp"/>
      </providers>
    </sessionState>
    <!--<sessionState cookieless="false" regenerateExpiredSessionId="true" mode="Custom" customProvider="NCacheSessionProvider" timeout="20">
      <providers>
        <add name="NCacheSessionProvider"
         type="Alachisoft.NCache.Web.SessionState.NSessionStoreProvider"
         sessionAppId="myApp"
         cacheName="myReplicatedCache"
         writeExceptionsToEventLog="false"
         enableLogs="false"/>
      </providers>
    </sessionState>-->
  </system.web>
  <system.webServer>
    <!--<rewrite>
      <outboundRules>
        <rule name="chuzhan" stopProcessing="false">
          <match filterByTags="A" pattern="^/WebForm1\.aspx\?id=([0-9]+)&amp;page=([0-9]+)$"/>
          <action type="Rewrite" value="/WebForm1/{R:1}/{R:2}"/>
        </rule>
      </outboundRules>
      <rules>
        <rule name="Fail bad requests">
          <match url="."/>
          <conditions>
            <add input="{HTTP_HOST}" negate="true" pattern="localhost"/>
          </conditions>
          <action type="AbortRequest"/>
        </rule>
        <rule name="ruzhan" stopProcessing="true">
          <match url="^WebForm1/([0-9]+)/([0-9]+)$"/>
          <action type="Rewrite" url="/WebForm1.aspx?id={R:1}&amp;page={R:2}"/>
        </rule>
      </rules>
    </rewrite>-->
    <!--<tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="WWW Server" areas="Rewrite" verbosity="Verbose"/>
          </traceAreas>
          <failureDefinitions statusCodes="200-399"/>
        </add>
      </traceFailedRequests>
    </tracing>-->
  </system.webServer>
</configuration>